---
interface Props {
  title: string;
  content: string;
}

const { content, title } = Astro.props;
const words = content.split(" ");
const shortenDesc =
  words.length > 20 ? words.slice(0, 10).join(" ") + "..." : content;
---

<div
  class="p-4 max-w-sm mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl"
>
  <div class="md:flex">
    <div class="p-8">
      <div
        class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"
      >
        {title}
      </div>
      <p class="mt-2 text-gray-500">
        {shortenDesc}
      </p>
    </div>
  </div>
</div>
